.content {
	top: 0.6em;
	width: 70%;
	min-width: 600px;
	max-width: 1009px;
	margin: 0 auto;
	font: sans-serif;
	height:100%; 
	padding:0 2em;
}

.message p{
	text-align: justify;
	font-size: 1.23em;
	line-height: 1.5em;
}

a{
	text-decoration: none;
	color: #0645AD;
}

.message p:last-child{
	text-align: right;
}

.logo{
	position: relative;
	float:left;
	display:inline-block;
	width: 25%;
	height:11em;
}

.logo img{
	position:absolute;
	vertical-align: middle;
	margin: 0 auto;

}

footer {
	bottom:0;
	width:95%;
	text-align: center;
	border-top: 0.1em solid #AAAAAA;
	font-size: 0.8em;
}


footer li{
	text-align: center;
	display: inline;
	margin: 0 1em;
}